.navbar-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.navbar-container > a {
    text-decoration: none;
    color: teal;
    font-size: 40px;
}